* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kaisei HarunoUmi', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* main */
.main-container {
   
    margin: 0 80px;
}

/* banner */
.banner-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: #161616;
border-radius: 30px;
}

.banner-title {
    /* border: 1px solid black; */
    width: 531px;
    height: 424px;
    margin: 60px 20px 60px 60px;
}
.banner-title h1{
    font-weight: 700;
font-size: 70px;
color: white;
line-height: 1;
margin-bottom: 20px;
}

.banner-title p{
    font-weight: 400;
font-size: 16px;
color: white;
margin-bottom: 30px;
line-height: 1.5;
}

.banner-title button{
    width: 187px;
height: 56px;
font-weight: 400;
font-size: 20px;
background: #DD0000;
border-radius: 5px;
color: white;
border: 0;
}

.banner-image {
    
    width: 600px;
    height: 600px;
    margin: 30px 30px 0 0;
}

.banner-image img{
    width: 100%;
    height: 100%;
}

/* blog */

.blog-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 130px;
    position: relative;
}

.left-container{
    /* border: 1px solid black; */
   
}

.blog-btn{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background: #161616;
border-radius: 10px;
position: sticky;
top: 180px;


}

.blog-btn button{
    width: 250px;
    height: 60px;
    margin-top: 28px;
    margin-left: 25px;
    border-radius: 10px;
    font-weight: 500;
font-size: 20px;
    
}

.right-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    
    
}

.blog-card{
    border: 1px solid;
    width: 270px;
height: 350px;
border-radius: 10px;
}

.blog-image{
    width: 270px;
height: 180px;
}
.blog-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.blog-title{
    padding: 20px;
}
.blog-title button{
    width: 90px;
height: 30px;
font-weight: 500;
font-size: 15px;
border-radius: 5px;
margin-bottom: 15px;
}

.blog-title h3{
    margin-bottom: 20px;
    font-weight: 500;
font-size: 17px;
}
.banner-title

.blog-icon-container i{
margin-right: 5px;
}
.blog-icon-container span{
margin-right: 30px;
}

/* upcomming match */

.match-card{
    border: 1px solid;
    
    width: 270px;
height: 242px;
text-align: center;
padding: 50px 20px;
line-height: 2.5;
border-radius: 5px;
}

.match-card-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}
/* footer */
footer{
    
    max-width: 100vw;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #161616;
    color: white;
    margin-top: 130px;
}

footer h1{
    margin-bottom: 100px;
}
footer span{
    margin-left: 50px;

}

@media only screen and (min-width: 768px)  and (max-width: 1269px) {
    .blog-container{
        display: flex;
        flex-direction: column;
        margin-top: 130px;
        
    }

    .blog-btn{
        display: flex;
        justify-content: space-between;
        border: 0;
        width: 100%;
        height: 120px;
        background: white;
    border-radius: 10px;
    }

    .blog-btn button{
        width: 250px;
        height: 80px;
        margin-top: 0;
        margin-left: 0px;
        border-radius: 10px;
        font-weight: 500;
    font-size: 23px;
        
    }

    .right-container{
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
           
    }
    .blog-card{
        border: 1px solid;
        width: 270px;
    height: 350px;
    border-radius: 10px;
    margin-left: 40px;
    }
    
}

@media only screen and (max-width: 767px) {
    .main-container {
   
        margin: 0 10px;
    }

    .banner-container {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        background: #161616;
    border-radius: 30px;
    }

    .banner-title {
        /* border: 1px solid black; */
        width: 500px;
        height: 300px;
        margin: 60px 10px 20px 10px;
        text-align: center;
    }
    .banner-title h1{
        font-weight: 500;
    font-size: 50px;
    color: white;
    line-height: 1;
    margin-bottom: 20px;
    }

    .banner-title p{
        
        font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.5;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  height: 60px;
 
    }
    
    /* .banner-title button{
        width: 187px;
    height: 56px;
    font-weight: 400;
    font-size: 20px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    border: 0;
    } */
    
    .banner-image {
        
        width: 400px;
        height: 400px;
        margin: 10px 0 0 0;
    }
    
    .banner-image img{
        width: 100%;
        height: 100%;
    }
    .blog-container{
        display: flex;
        flex-direction: column;
        margin-top: 130px;
        
    }

    .blog-btn{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 0;
        width: 100%;
        height: 320px;
        background: white;
        margin-bottom: 50px;
    border-radius: 10px;
    }

    .blog-btn button{
        width: 250px;
        height: 80px;
        margin-top: 0;
        margin-left: 0px;
        border-radius: 10px;
        font-weight: 500;
    font-size: 23px;
        
    }

    .right-container{
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
        
           
    }
    .blog-card{
        border: 1px solid;
        width: 270px;
    height: 350px;
    border-radius: 10px;
    margin-left: 100px;
    }

    footer{
    
        max-width: 100vw;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #161616;
        color: white;
        margin-top: 130px;
    }
    
    footer h1{
        margin-bottom: 20px;
    }
    footer span{
        margin-left: 0px;
    
    }
    .footer-title{
        display: flex;
        flex-direction: column;
        line-height: 2;
        
    }
}